.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  background: #ebceb8;
  height: 100vh;
  position: relative;
  padding: 0 20px;

  @media only screen and (min-width: 600px) {
    padding: 0;
  }
}
